<div style="padding-left: 20px; margin-top: 20px;">
  <form>
    <h2 style="padding-bottom: 13px;">Внеси вработен</h2>
    <div class="form-group">
      <label>Име</label>
      <input type="text" class="form-control" required [(ngModel)]="model.v_ime" name="ime">
    </div>
    <div class="form-group">
      <label>Презиме</label>
      <input type="text" class="form-control"  [(ngModel)]="model.v_prezime" name="ime">
    </div>
    <div class="form-group">
        <label>Место на живеење</label>
        <input type="text" class="form-control"  [(ngModel)]="model.v_mesto" name="ime">
      </div>
      <div class="form-group">
        <label>Телефон</label>
        <input type="text" class="form-control"  [(ngModel)]="model.v_telefon" name="ime">
      </div>
      <div class="form-group">
        <label>ЕМБГ</label>
        <input type="text" class="form-control"  [(ngModel)]="model.v_embg" name="ime">
      </div>
      <div class="form-group">
        <label>Дозволен одмор</label>
        <input type="text" class="form-control"  [(ngModel)]="model.v_odmor" name="ime">
      </div>

    <div class="form-check">
      <label class="form-check-label" for="exampleCheck1">Активен</label>
      <input type="checkbox" class="form-check-input"  [(ngModel)]="model.v_aktiven" name="ime">
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Избери оддел</label>
        <select [(ngModel)]="selectedOddel.oddel_id" class="form-select" id="exampleFormControlSelect1" name="oddel">
          <option *ngFor="let oddel of oddeli" [value]="oddel.oddel_id">
            {{oddel.oddel_naziv}}
          </option>
        </select>
      </div>

    <button type="submit" (click)="onSubmit()" class="btn btn-primary">Внеси</button>
  </form>
  </div>