<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://icons-for-free.com/iconfiles/png/512/avatar+person+profile+user+icon-1320166578424287581.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Евиденција на отсуства
    </a>
  </nav>
  <br><br><br>
  <div class="container">
  <button type="button" (click)="btnClick()" class="btn btn-primary btn-lg btn-block">Вработени</button>
  <button type="button" class="btn btn-primary btn-lg btn-block">Отсуства</button>
  <button type="button" (click)="goToOddel()" class="btn btn-primary btn-lg btn-block">Оддели</button>