<div style="padding-left: 20px;">
<br><a class="btn btn-outline-primary" routerLink="/menu">Назад</a><br><br>

<h2>Отсуства  </h2>

<table class="table">
  <thead>
      <tr>
        <th scope="col">Датум</th>
        <th scope="col">Часови</th>
        <th scope="col">Опис</th>
        <th scope="col">Вработен</th>
        <th scope="col">Вид отсуство</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let otsustvo of otsustva">
          <td>{{otsustvo.o_datum}}</td>
          <td>{{otsustvo.o_casovi}}</td>
          <td>{{otsustvo.o_opis}}</td>
          <td>{{otsustvo.v_ime}}</td> 
          <td>{{otsustvo.vid_otsustvo}}</td> <!-- ngModel ???? get v_id(v_ime,v_prezime) from Vraboteni, get vid_id(vid)otsustvo) from Vidovi -->
      </tr>
  </tbody>
</table>
<button type="button" (click)="add()" class="btn btn-primary btn-lg btn-block">Внеси ново отсуство</button>
</div>